html,
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}
.hidden {
	display: none;
}
.container {
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
}
header.header-top {
	background: #eeeeee;
}
.top-nav {
	padding-top: 50px;
	background: #eeeeee;
	overflow: hidden;
}

.top-nav .logo-menu {
	display: inline-block;
	width: 160px;
	height: 65px;
	background-repeat: no-repeat;
	background-image: url(../img/logo/logo.png)
}
.top-nav .logo-menu:hover {	
	background-image: url(../img/logo/logo-hvr.png)
}

.top-nav .logo-menu:active {	
	background-image: url(../img/logo/logo-act.png)
}

.top-nav .logo,
.top-nav .main-menu,
.top-nav .mine-cart {
	float: left;
	list-style: none;
}

.top-nav .main-menu li,
.top-nav .mine-cart {
	float: left;
	padding: 0 10px;
	margin-right: 25px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	line-height: 1.875;
	text-align: left;
	border: 1px solid transparent;
}
.top-nav .main-menu li.active a {
	border-bottom: 2px solid #fb565a;
}
header .top-nav .mine-cart a {
	padding-left: 40px;
	background-color: #eee;
	background-repeat: no-repeat;
    background-position: left;
}
header .top-nav .mine-cart a.cart-icon {
	background-image: url(../img/cart-icon.png);
}
.main-menu {
	margin-left: 190px;
	/* margin-right: 280px; */
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 0;
}
.top-nav .mine-cart {
	float: right;
	margin-top: 20px;
}
.top-nav .logo {
	max-height: 65px;
}
.top-nav a {
	text-decoration: none;
	color: #333;
	padding: 5px 0;
}
.top-nav a:hover {
	color:#e74246;
}
.top-nav a:active{
	color:#bdbdbd;
}
/* Дорого, долго, */
.slider-top h1 {
  	font-size: 55px;
  	line-height: 1;
  	font-family: "Roboto";
  	margin-top: 75px;
  	margin-bottom: 25px;
  	color: rgb(0, 0, 0);
}
/*catalog*/
h1.shop-g {
	line-height: 1;
	margin-top: 78px;
	margin-left: 219px;
	margin-bottom: 108px;
	font-size: 55px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
}

html,
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
}

.hidden {
	display: none;
}

.container {
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}

header.header-top {
	background: #eeeeee;
}

.top-nav {
	padding-top: 50px;
	background: #eeeeee;
	overflow: hidden;
}

.top-nav .logo-menu {
	display: inline-block;
	width: 160px;
	height: 65px;
	background-repeat: no-repeat;
	background-image: url(../img/logo/logo.png);
}

.top-nav .logo-menu:hover {
	background-image: url(../img/logo/logo-hvr.png);
}

.top-nav .logo-menu:active {
	background-image: url(../img/logo/logo-act.png);
}

.top-nav .logo,
.top-nav .main-menu,
.top-nav .mine-cart {
	float: left;
	list-style: none;
}

.top-nav .main-menu li,
.top-nav .mine-cart {
	float: left;
	padding: 0 10px;
	margin-right: 25px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	line-height: 1.875;
	text-align: left;
	border: 1px solid transparent;
}

.top-nav .main-menu li.active a {
	border-bottom: 2px solid #fb565a;
}

header .top-nav .mine-cart a {
	padding-left: 40px;
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: left;
}

header .top-nav .mine-cart a.cart-icon {
	background-image: url(../img/cart-icon.png);
}

.main-menu {
	margin-left: 190px;
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 0;
}

.top-nav .mine-cart {
	float: right;
	margin-top: 20px;
}

.top-nav .logo {
	max-height: 65px;
}

.top-nav a {
	text-decoration: none;
	color: #333;
	padding: 5px 0;
}

.top-nav a:hover {
	color: #e74246;
}

.top-nav a:active {
	color: #bdbdbd;
}

.slider-top h1 {
	font-size: 55px;
	line-height: 1;
	font-family: "Roboto";
	margin-top: 75px;
	margin-bottom: 25px;
	color: rgb(0, 0, 0);
}

h1.shop-g {
	line-height: 1;
	margin-top: 78px;
	margin-left: 219px;
	margin-bottom: 108px;
	font-size: 55px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
}
/*catalog*/
}
header .slider {
	overflow: hidden;
	max-height: 430px;
}
.slider-top p {
	font-size: 16px;
  	font-family: "Roboto";
  	color: rgb(40, 49, 54);
  	line-height: 1.5;
} 
.slider-top {
	float: left;
}
.slider-select {
	position: relative;
	float: right;
	padding-right: 40px;
	padding-top: 0px;
}
.slider-select ul.pager {
	position: absolute;
	bottom: 85px;
	left: 95px;
	list-style: none;
}
.slider-select ul.pager li {
	display: inline-block;
	padding-right:20px;
}



.slider-top a {
	display: inline-block;
	margin-top: 25px;
	background-color: #fb565a;
	color: white;
	width: 240px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.slider-top a:hover {
	background-color: #e74246;
}
.slider-top a:active {
	color: #e38384;
	background-color: #d7373b;
}
.main-container {
	width: 1200px;
    margin: 0 auto;
    padding: 0 10px;

}
.offers {
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
	list-style: none;
	overflow: hidden;
	padding-top: 80px;
}
.offers li {
	float: left;
	margin-right:100px;
}

.offers li:last-child {
	margin-right: 0;
}
.offers-item h2 {
	font-family: "Roboto";
	font-size: 24px;

	line-height: 25px;
	text-transform: uppercase;
	color: #000;
}
.offers p {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}
.btn {
	display: inline-block;
    background-color: #fb565a;
    border-radius: 3px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
	width: 160px;
	text-align: center;
}
.contact a:hover.btn-presentations {
	background-color: #e74246;
}
.contact a:active.btn-presentations {
	background-color: #e74246;
	color: #de6669;
}
.offers a:hover.btn-presentations {
	 background-color: #e74246;
}
.offers a:active.btn-presentations {
	 background-color: #d7373b;
	 color: #de6669;
}
.offers .btn-presentations2 {
	background-color: #00ca74;
}
.offers a:hover.btn-presentations2 {
	 background-color: #00bc6c;
}
.offers a:active.btn-presentations2 {
	 background-color: #00aa62;
	 color: #52bb86;
}
.offers .btn-presentations3 {
    background-color: #efc84a;
}
.offers a:hover.btn-presentations3 {
    background-color: #eab534;
}
.offers a:active.btn-presentations3 {
    background-color: #e5a722;
    color: #e9b555;
}
.advertise {
	border-top: 2px solid #eee; 
	overflow: hidden;
}
.advertise-left {
	padding-top: 55px;
    padding-bottom: 47px;
}
.advertise-left {
    width: 670px;
    float: left;
}
.advertise-left,
.advertise-right,
.advertisie-logo {
}
.advertise-left  h2 {
    margin-top: 20px;
    font-family: "Roboto","Arial",sans-serif;
    text-align: left;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000;
    margin-bottom: 35px;
}
.advertise-canon {
    vertical-align: top;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 41px;
}

.advertise-left  h3 {
	font-size: 15px;
	margin-bottom: 25px;
}
.advertise-right {
	float: right;
	padding-top:40px;
	margin-left: 0;
	width: 360px;
	margin-right: 40px;

}
.advertise-right h2 {
	font-size: 15px;
	margin-top:31px;
	text-transform: uppercase;
	text-align: center;
}
.advertise-left ul, .advertise-right ul {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
    list-style: none;
}
.advertise-logo {
}

.advertise-left ul {
	padding-left: 0;
	list-style: none;
}
.advertise-left li {
	padding-left: 35px;
	position: relative;
	margin-bottom: 25px;
	line-height: 23px;
}
.advertise-left li::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    top:11px;
    width: 27px;
    background-color: #fb565a;

}
.advertise-right ul {
	margin-top:40px;
	padding-top:15px;
	list-style: none;
	overflow: hidden;
}

.advertise-right ul li{
	float: left;
	width: 33%;
}

.advertise-right li .big {
	font-size: 45px;
	display: block;
	margin-bottom: 30px;
}

.portfolio {
	width: 100%;
	border: 2px solid #eee;
	border-width:2px 0;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 80px;
	font-size: 0;
	overflow: hidden;;
}
.portfolio a {
	display: inline-block;
	width: 265px;
	text-align: center;
	padding-right: 35px;
	height: 90px;
	float: left;
	line-height: 90px;
	position: relative;
} 

.portfolio a img {
	display: inline-block;
	vertical-align: middle;

}
.portfolio a:after {
	content: ' ';
	position: absolute;
	width: 2px;
	height: 55px;
	background-color: #eee;
	right: 20px;
	top:15px;
}
.portfolio a:last-child:after {
	content: '';
	display: none;
}
.map-container {
	height:415px;
	position:relative;
	background-position:-65px;
	background-image:url(../img/layer2.png);
	background-repeat: no-repeat;
	width:100%;
}
.map-marker {
	position: absolute;
	left: 56%;
	top:90px;
}
.map-container .contact {
	position: absolute;
	background-color: #fff;
	padding:50px;
	max-width: 220px;
	max-height: 250px;
	top:55px;
	left: 75px;
}
.map-container .contact a {
	width: 220px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 21px;
}

.map-container .contact h4 {
	font-size: 16px;
	text-transform:uppercase;
	margin-top: 2px;
	margin-left: 1px;
	margin-bottom: 28px;
}
.map-container .contact p {
	line-height: 19px;
}
/*catalog  ---------------------------catalog*/
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
.catalog {
	/*overflow: hidden;
*/}
.catalog .left-side {
	float: left;
	margin-bottom: 20px;
	color: #000000;
}
.catalog .right-side {
	float: right;
	padding-left: 50px;
	color: #eeeeee;
}
.right-side .sorting-right-side {
	float: left;
	padding-bottom: 10px;
	padding-top: 55px;
	padding-left: 10px
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	list-style: none;
}

.page-main .left-side {
	width: 30%;
}
.page-main .right-side {
	width: 65%;
}

.value {
	padding:60px 0;
}
.value b {
    font-size: 19px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding-left: 75px;
}
/*.range-filter form {
    width: 50%;
    padding:0 26px;
    margin-left: 77px;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 0 10px #cccccc;
}*/
.range-filter {
	width: 216px;
    margin: 0 auto;
    margin-top: -10px;
    padding: 39px 22px;
    background-color: #eee;
	border-radius: 3px;
	margin-left: 75px;
}
.range-filter .ui-slider-handle{
	border-radius: 50%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.6em;
    margin-left: -.6em;
}
.ui-slider-horizontal {
    height: 0.05em;
}
.ui-widget-header {
    border: 1px solid #c0c0c0;
    background: #00ca74;
    color: #333333;
    font-weight: bold;
}
.catalog .range-control {
	padding-left: 74px;
}
.range-control label {
	padding-right: 26px;
	color: rgb(40, 49, 54);
	text-transform: uppercase;
}
.range-control input {
	margin-top: 13px;
	margin-left: 11px;
	border-radius: 3px;
}
.range-control input[type="text"] {
	font-size: 16px;
    width: 70px;
    height: 34px;
    padding: 2px 6px;
    color: rgb(40, 49, 54);
    border: 0px solid #cccccc;
    background-color: #eee;
    text-align: center;
}

.catalog .label-1 {
	padding-top: 41px;
	padding-left: 75px;
}
.catalog .label-2 {
	padding-top: 0px;
	padding-left: 72px;
}
.catalog .label-1 p {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}
.catalog .label-2 p {
	margin-left: 4px;
	margin-top: 29px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}
.left-side .label-2 a {
	width: 260px;
	font-size: 16px; 
	text-align: center; 
	padding-top: 16px; 
	color: rgb(0, 0, 0); 
	height: 38px;
	margin-left: 5px;
	margin-top: 29px;
	border-radius: 3px;
	text-transform: uppercase;
	background-color: #eeeeee;
	display: inline-block;
	font-family: "Roboto";     /*--WTF--*/
}
.left-side .label-2 a:hover {
	background-color: #dfdfdf;
} 
.left-side .label-2 a:active {
	background-color: #d5d5d5;
	color: rgb(169, 169, 169);
}
.catalog .label-1 label {
	display: inline-block;
	font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
	padding-left: 38px;
	height: 25px;
	line-height: 24px;
	margin-bottom: 14px;
}
.catalog .label-2 label {
	padding-left: 10px;
	padding-bottom: 16px;
    font-size: 14px;
    font-family: "Roboto";
	color: rgb(0, 0, 0);
	display: inline-block;
}
.label-1 input {
	display: none;
	margin-right: 10px;
}
.label-1 label {
	display: inline-block;
	padding-left:10px;
	background-repeat: no-repeat;
	background-image: url(../img/catalog/radio/radio.png)
}
.label-1 label:hover{
	background-image: url(../img/catalog/radio/radio-hvr.png)
}

.label-1 input:checked + label:hover {
	background-image: url(../img/catalog/radio/radio-on-hvr.png)
}
.label-1 input:checked + label {
	background-image: url(../img/catalog/radio/radio-on.png)
}

.label-2 input {
	display: none;
	margin-right: 10px;
}
.catalog .label-2 label {
	display: inline-block;
	height: 25px;
	line-height: 24px;
	padding-left:42px;
	background-repeat: no-repeat;
}
.catalog .label-2 label {
 background-image: url(../img/catalog/checkbox/checkbox.png)
}
.catalog .label-2 label:hover {
 background-image: url(../img/catalog/checkbox/checkbox-hvr.png)
}
.catalog .label-2 input:checked + label {
 background-image: url(../img/catalog/checkbox/checkbox-on.png)
}
.catalog .label-2 input:checked + label:hover {
 background-image: url(../img/catalog/checkbox/checkbox-on-hvr.png)
}

/*--- left-side  Cтоимость:---*/
.sorting {
	padding:55px 0;
}
.sorting b {
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	padding-left: 3px;
}
.sorting .sorting-list li{
	display: inline-block;
	padding-left: 20px
}
.sorting-list li a {
	list-style: none;
	text-decoration: none;
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(178,178,178);
	text-transform: uppercase;
	line-height: 1.286;
	text-align: left;
	padding-right: 1px;
}
.sorting-list li:first-child a {
	color: rgb(0, 0, 0);
}
.sorting-list {
	float: right;
	list-style: none;
	margin-right: 200px;
	margin-top: 0;
	padding-left: 0;
}
.catalog-left {
	float: left;
	padding-left: 4px;
	padding-top :-60px;
}
.catalog-right {
	float: right;
	padding-right: 113px;
	padding-top :-60px;
}
.catalog-item_top{
	background-color: #e9e9e9;
	border-radius: 5px 5px 0 0;
	padding-left:15px;
	line-height: 40px;
	font-size: 0;
}

.catalog-item_top i{
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	vertical-align: middle;
}
.catalog-item:hover .catalog-item_top,
.catalog-item2:hover .catalog-item_top{
	background-color: #4d4d4d;
}

.catalog .catalog-item{
	padding-bottom: 30px;
}
.catalog-left .catalog-item2 {
	margin-bottom: 0;
}
/*--catalog footer pagination--*/
.pagination {
	display: inline-block;
	margin-left: -39px;
	margin-bottom: 55px;
}
.pagination li:last-child {
	padding: 12px 77px;
}
.pagination li {
	float: left;
	list-style: none;
	border: 3px solid #eeeeee;
	background-color: #eeeeee;
	border-radius: 3px;
	margin-top: 41px;
	margin-right: 8px;
	padding: 11px 19px;
}
.pagination li.active {
	background-color: transparent;
	color: rgb(169, 169, 169);
}
.pagination li:hover {
	border: 3px solid #eeeeee;
	background-color: #dfdfdf;
}
.pagination li:active a{
	color: rgb(169, 169, 169);
}
.pagination a {
	list-style: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);	
}

/*catalog  ---------------------------catalog*/

footer {
	padding:70px 0;
	overflow:hidden;
}

footer .container>div {
	float: left;
}
footer h2 {
	margin-top: 15px;
	font-size: 35px;
	margin-bottom: 15px;
}
footer .footer-social {
	width: 260px;
}
footer .footer-social a {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #eee;
	line-height: 80px;
	background-repeat: no-repeat;
	background-position: center;
}
footer .footer-social a:hover {
	background-color: #e74246;
}
footer .footer-social a:active {
	background-color: #d7373b ;
}
footer .footer-social a.social-btn-vk {
	background-image: url(../img/vk-icon.png);
}
footer .footer-social a.social-btn-fb {
	background-image:url(../img/fb-icon.png);
}
footer .footer-social a.social-btn-inst {
	background-image:url(../img/insta-icon.png);

}
footer .footer-social a:last-child {
	margin-right: 0;
}
footer .footer-links {
	margin-left: 143px;
}