html,
body {
	padding: 0;
	margin: 0;
	line-height: 22px;
	font-size: 16px;
}
.hidden {
	display: none;
}
.container {
	width: 1200px;
	overflow: hidden;
	margin:0 auto;
}
header.header-top {
	background: #eeeeee;
}
.top-nav {
	padding-top: 50px;
	background: #eeeeee;
	overflow: hidden;
}
.top-nav .logo,
.top-nav .main-menu,
.top-nav .mine-cart {
	float: left;
	list-style: none;
}
.top-nav .main-menu li,
.top-nav .mine-cart {
	float: left;
	padding: 5px 10px;
	margin-right: 25px;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	line-height: 1.875;
	text-align: left;
	border: 1px solid transparent;
}
header .top-nav .mine-cart a {
	padding-left: 40px;
	background-color: #eee;
	background-repeat: no-repeat;
    background-position: left;
}
header .top-nav .mine-cart a.cart-icon {
	background-image: url(../img/cart-icon.png);
}
.main-menu {
	margin-left: 190px;
	/* margin-right: 280px; */
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 0;
}
.top-nav .mine-cart {
	float: right;
	margin-top: 16px;
}
.top-nav .logo {
	max-height: 65px;
}
.top-nav a {
	text-decoration: none;
	color: #333;
}
/* Дорого, долго, */
.slider-top h1 {
  	font-size: 55px;
  	line-height: 1;
  	font-family: "Roboto";
  	margin-top: 75px;
  	margin-bottom: 25px;
  	color: rgb(0, 0, 0);
}
/*catalog*/
h1.shop-g {
	line-height: 1;
	margin-top: 78px;
	margin-left: 219px;
	margin-bottom: 108px;
	font-size: 55px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
}
/*catalog*/
}
header .slider {
	overflow: hidden;
	max-height: 430px;
}
.slider-top p {
	font-size: 16px;
  	font-family: "Roboto";
  	color: rgb(40, 49, 54);
  	line-height: 1.5;
} 
.slider-top {
	float: left;
}
.slider-select {
	position: relative;
	float: right;
	padding-right: 40px;
	padding-top: 0px;
}
.slider-select ul.pager {
	position: absolute;
	bottom: 85px;
	left: 95px;
	list-style: none;
}
.slider-select ul.pager li {
	display: inline-block;
	padding-right:20px;
}



.slider-top a {
	display: inline-block;
	margin-top: 25px;
	background-color: #fb565a;
	color: white;
	width: 240px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.main-container {
	width: 1200px;
    margin: 0 auto;
    padding: 0 10px;

}
.offers {
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
	list-style: none;
	overflow: hidden;
	padding-top: 80px;
}
.offers li {
	float: left;
	margin-right:100px;
}

.offers li:last-child {
	margin-right: 0;
}
.offers-item h2 {
	font-family: "Roboto";
	font-size: 24px;

	line-height: 25px;
	text-transform: uppercase;
	color: #000;
}
.offers p {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
}
.btn {
	display: inline-block;
    background-color: #fb565a;
    border-radius: 3px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 50px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
	width: 160px;
	text-align: center;
}
.offers .btn-presentations3 {

    background-color: #efc84a;
}
.offers .btn-presentations2 {
	background-color: #00ca74;
}
.advertise {
	border-top: 2px solid #eee; 
	overflow: hidden;
}
.advertise-left {
	padding-top: 55px;
    padding-bottom: 47px;
}
.advertise-left {
    width: 670px;
    float: left;
}
.advertise-left,
.advertise-right,
.advertisie-logo {
}
.advertise-left  h2 {
    margin-top: 20px;
    font-family: "Roboto","Arial",sans-serif;
    text-align: left;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000;
    margin-bottom: 35px;
}
.advertise-canon {
    vertical-align: top;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    line-height: 23px;
    margin-bottom: 41px;
}

.advertise-left  h3 {
	font-size: 15px;
	margin-bottom: 25px;
}
.advertise-right {
	float: right;
	padding-top:40px;
	margin-left: 0;
	width: 360px;
	margin-right: 40px;

}
.advertise-right h2 {
	font-size: 15px;
	margin-top:31px;
	text-transform: uppercase;
	text-align: center;
}
.advertise-left ul, .advertise-right ul {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: left;
    list-style: none;
}
.advertise-logo {
}

.advertise-left ul {
	padding-left: 0;
	list-style: none;
}
.advertise-left li {
	padding-left: 35px;
	position: relative;
	margin-bottom: 25px;
	line-height: 23px;
}
.advertise-left li::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 2px;
    left: 0;
    top:11px;
    width: 27px;
    background-color: #fb565a;

}
.advertise-right ul {
	margin-top:40px;
	padding-top:15px;
	list-style: none;
	overflow: hidden;
}

.advertise-right ul li{
	float: left;
	width: 33%;
}

.advertise-right li .big {
	font-size: 45px;
	display: block;
	margin-bottom: 30px;
}

.portfolio {
	float: left;
	width: 100%;
	border: 2px solid #eee;
	border-width:2px 0;
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 80px;
	font-size: 0;;
}
.portfolio a {
	display: inline-block;
	width: 265px;
	text-align: center;
	padding-right: 35px;
	height: 90px;
	float: left;
	line-height: 90px;
	position: relative;
} 

.portfolio a img {
	display: inline-block;
	vertical-align: middle;

}
.portfolio a:after {
	content: ' ';
	position: absolute;
	width: 2px;
	height: 55px;
	background-color: #eee;
	right: 20px;
	top:15px;
}
.portfolio a:last-child:after {
	content: '';
	display: none;
}
.map-container {
	height:415px;
	position:relative;
	background-position:-65px;
	background-image:url(../img/layer2.png);
	background-repeat: no-repeat;
	width:100%;
}
.map-marker {
	position: absolute;
	left: 56%;
	top:90px;
}
.map-container .contact {
	position: absolute;
	background-color: #fff;
	padding:50px;
	max-width: 220px;
	max-height: 310px;
	top:55px;
	left: 70px;
}
.map-container .contact a {
	width: 220px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 35px;
}
.map-container .contact h4 {
	font-size: 18px;
	text-transform:uppercase;
	margin-top: 0;
}
/*catalog  ---------------------------catalog*/
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
.catalog {
	/*overflow: hidden;
*/}
.catalog .left-side {
	float: left;
	margin-bottom: 20px;
    color: #cc0000;
    background: rgba(255, 234, 171, 0.5);
    border: 2px dashed #cccccc;
}
.catalog .right-side {
	float: right;
	padding-left: 10px;
	width: 880px;
    color: #cc0000;
    background: rgba(255, 234, 171, 0.5);
    border: 2px dashed #cccccc;
}
.right-side .sorting-right-side {
	float: left;
	padding-bottom: 10px;
	padding-top: 55px;
	padding-left: 10px
	text-transform: uppercase;
	font-size: 18px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	list-style: none;
}

.page-main .left-side {
	width: 30%;
}
.page-main .right-side {
	width: 65%;
}

.value {
	padding:57px 0;
}
.value b {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding-left: 75px;
}
.range-filter form {
    width: 50%;
    padding:0 26px;
    margin-left: 77px;
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 0 10px #cccccc;
}
.catalog .label-1 {
	padding-top: 50px;
}
.catalog .label-2 {
	padding-top: 5px;
	padding-left: 80px;
}
.catalog .label-1 p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    padding-left: 75px;
}
.catalog .label-2 p{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}
.catalog .label-2 button {
	width: 262px;
	height: 52px; 
	margin-top: 118px;
	margin-left: -8px;
	background-color: #eee;
	color: rgb(0, 0, 0);
	font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto";

}
.catalog .label-1 label {
	display: inline-block;
	padding-left: 81px;
	padding-bottom: 21px;
	font-size: 14px;
    text-transform: uppercase;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}

/*--- left-side  Cтоимость:---*/
.sorting {
	padding:52px 0;
}
.sorting b {
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	padding-left: 10px;
}
.sorting .sorting-list li{
	display: inline-block;
	padding-left: 20px
}
.sorting-list li a {
	list-style: none;
	text-decoration: none;
	font-size: 14px;
	font-family: "Roboto";
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	line-height: 1.286;
	text-align: left;
	padding-right: 1px;
}
.sorting-list {
	float: right;
	list-style: none;
	margin-right: 200px;
	margin-top: 0;
	padding-left: 0;
}
.catalog-left {
	float: left;
	padding-left: 4px;
}
.catalog-right {
	float: right;
	padding-right: 145px;
}

/*catalog  ---------------------------catalog*/
footer {
	padding:70px 0;
	overflow:hidden;
}

footer .container>div {
	float: left;
}
footer h2 {
	margin-top: 15px;
	font-size: 35px;
	margin-bottom: 15px;
}
footer .footer-social {
	width: 260px;
}
footer .footer-social a {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-right: 5px;
	background-color: #eee;
	line-height: 80px;
	background-repeat: no-repeat;
	background-position: center;
}
footer .footer-social a.social-btn-vk {
	background-image: url(../img/vk-icon.png);
}
footer .footer-social a.social-btn-fb {
	background-image:url(../img/fb-icon.png);
}
footer .footer-social a.social-btn-inst {
	background-image:url(../img/insta-icon.png);

}
footer .footer-social a:last-child {
	margin-right: 0;
}
footer .footer-links {
	margin-left:140px;
}