/* Сетка */

.col-1{
	width: 8.333333333333333%;
}
.col-2{
	width: 16.66666666666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33333333333333%;
}
.col-5{
	width: 41.66666666666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33333333333333%;
}
.col-8{
	width: 66.66666666666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33333333333333%;
}
.col-11{
	width: 91.66666666666667%;
}
.col-12{
	width: 100%;
}
*[class*='col-']{
	float: left;
	padding:0 20px;
	box-sizing: border-box;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.container-fluid{
	max-width: 100%;
}
.white{
	background-color: white;
}
.header-wrapper{
	background-color: #eeeeee;
	padding-top: 45px;
}

.logo-wrapper img{
	max-width: 100%;
}
.header-menu,.header-cart{
	text-align: center;
	padding-top: 15px;

}
.header-cart{
	text-align: right;
}
.header-menu a,.header-cart a{
	padding: 15px 25px;
	text-decoration: none;
	color:#000000;
	display: inline-block;
	text-transform: uppercase;
}
.header-cart img{
	margin-right: 20px;
}

.overflow {
        overflow: hidden;
}
.road {
	font-size: 2em;
	padding: 25px 0;
	font-weight: bold;
}
.button1 {
	padding: 10px 40px 10px 40px;
	background-color: #fb565a;
	border: #fb565a;
	color: #ffffff;
	text-align: center;
	border-radius: 2px;
}
.button {
	padding: 28px 0px 0px 0px;
}

/* */
